header {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}




ul {
    display: flex;
    align-items: center;

}

li {
    margin: 60px;
}

.search {
    margin-right: 55px;
}



h1 {
    color: #36413E;
    font-size: 70px;
}